In [12]:
import pandas as pd
path="C:\\Users\\Md Murshid Alam\\Desktop\\ml\\turnover.csv"
df=pd.read_csv(path,engine='python',encoding='latin1')
print(df)

            stag  event gender   age         industry  profession  \
0       7.030801      1      m  35.0            Banks          HR
1      22.965092      1      m  33.0            Banks          HR
2      15.934292      1      f  35.0  PowerGeneration          HR
3      15.934292      1      f  35.0  PowerGeneration          HR
4       8.410678      1      m  32.0           Retail  Commercial
...          ...    ...    ...   ...              ...         ...
1124   10.611910      0      f  41.0            Banks          HR
1125   10.611910      0      f  41.0            Banks          HR
1126  118.800821      0      f  34.0          Telecom  Accounting
1127   49.412731      0      f  51.0          Consult          HR
1128   24.837782      0      f  29.0           Retail          HR

          traffic    coach head_gender greywage  way  extraversion  independ  \
0     rabrecNErab       no           f    white  bus           6.2       4.1
1           empjs       no           m    white  bus           6.2       4.1
2     rabrecNErab       no           m    white  bus           6.2       6.2
3     rabrecNErab       no           m    white  bus           5.4       7.6
4           youjs      yes           f    white  bus           3.0       4.1
...           ...      ...         ...      ...  ...           ...       ...
1124  rabrecNErab  my head           m    white  bus           8.6       3.4
1125  rabrecNErab  my head           m    white  bus           8.6       3.4
1126           KA       no           f    white  bus           4.6       5.5
1127        empjs       no           m     grey  bus           3.8       7.6
1128        youjs       no           f    white  car           9.4       1.2

      selfcontrol  anxiety  novator
0             5.7      7.1      8.3
1             5.7      7.1      8.3
2             2.6      4.8      8.3
3             4.9      2.5      6.7
4             8.0      7.1      3.7
...           ...      ...      ...
1124          2.6      4.8      8.3
1125          2.6      4.8      8.3
1126          7.2      6.3      3.7
1127          5.7      6.3      5.2
1128          4.1      5.6      6.7

[1129 rows x 16 columns]

In [13]:
df.isnull().sum()

stag            0
event           0
gender          0
age             0
industry        0
profession      0
traffic         0
coach           0
head_gender     0
greywage        0
way             0
extraversion    0
independ        0
selfcontrol     0
anxiety         0
novator         0
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
print('Categorical columns: ')
for col in df.columns:
    if df[col].dtype == 'object':
        values = df[col].value_counts()
        values = dict(values)
        
        print(str(col))
        label = LabelEncoder()
        label = label.fit(df[col])
        df[col] = label.transform(df[col].astype(str))
        
        new_values = df[col].value_counts()
        new_values = dict(new_values)
        
        value_dict = {}
        i=0
        for key in values:
            value_dict[key] = list(new_values)[i]
            i+= 1
        print(value_dict)

Categorical columns:
gender
{'f': 0, 'm': 1}
industry
{'Retail': 10, 'manufacture': 14, 'IT': 5, 'Banks': 2, 'etc': 13, 'Consult': 4, 'State': 11, 'Building': 3, 'PowerGeneration': 8, 'transport': 15, 'Telecom': 12, 'Mining': 6, 'Pharma': 7, 'Agriculture': 1, 'RealEstate': 9, ' HoReCa': 0}
profession
{'HR': 6, 'IT': 7, 'Sales': 11, 'etc': 13, 'Marketing': 9, 'BusinessDevelopment': 1, 'Consult': 3, 'Commercial': 2, 'manage': 14, 'Finanñe': 5, 'Engineer': 4, 'Teaching': 12, 'Accounting': 0, 'Law': 8, 'PR': 10}
traffic
{'youjs': 7, 'empjs': 2, 'rabrecNErab': 4, 'friends': 3, 'referal': 6, 'KA': 0, 'recNErab': 5, 'advert': 1}
coach
{'no': 1, 'my head': 0, 'yes': 2}
head_gender
{'m': 1, 'f': 0}
greywage
{'white': 1, 'grey': 0}
way
{'bus': 0, 'car': 1, 'foot': 2}

In [15]:
X = df.drop(columns=['event'])
y = df['event']

In [16]:
X

,stag,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
0,7.030801,1,35.0,2,6,4,1,0,1,0,6.2,4.1,5.7,7.1,8.3
1,22.965092,1,33.0,2,6,2,1,1,1,0,6.2,4.1,5.7,7.1,8.3
2,15.934292,0,35.0,8,6,4,1,1,1,0,6.2,6.2,2.6,4.8,8.3
3,15.934292,0,35.0,8,6,4,1,1,1,0,5.4,7.6,4.9,2.5,6.7
4,8.410678,1,32.0,10,2,7,2,0,1,0,3.0,4.1,8.0,7.1,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,10.611910,0,41.0,2,6,4,0,1,1,0,8.6,3.4,2.6,4.8,8.3
1125,10.611910,0,41.0,2,6,4,0,1,1,0,8.6,3.4,2.6,4.8,8.3
1126,118.800821,0,34.0,12,0,0,1,0,1,0,4.6,5.5,7.2,6.3,3.7
1127,49.412731,0,51.0,4,6,2,1,1,0,0,3.8,7.6,5.7,6.3,5.2
1128,24.837782,0,29.0,10,6,7,1,0,1,1,9.4,1.2,4.1,5.6,6.7

In [17]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1124    0
1125    0
1126    0
1127    0
1128    0
Name: event, Length: 1129, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2)

In [19]:
from sklearn import tree 
model=tree.DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [20]:
h=model.predict([[7.030801,1,35.0,2,6,4,1,0,1,0,6.2,4.1,5.7,7.1,8.3]])
print(h)

[1]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [21]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1124    0
1125    0
1126    0
1127    0
1128    0
Name: event, Length: 1129, dtype: int64